@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
  font-family: 'Roboto', sans-serif;
}

.wrap {
  padding-top: 5rem;
  display: flex;
  justify-content: center;

  .show {
    .widget__window {
      display: flex;
    }
  }
  .update {
    .notice__check {
      display: block;
    }
  }
}

.widget {
  position: absolute;
  right: 20px;
  bottom: 20px;

  &__window {
    width: 330px;
    max-height: 450px;
    display: none;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 60px;
    bottom: 60px;
    overflow: auto;
    border-radius: 7px;

    border: 1px solid #9d8189;
  }
  
  .notice {
    border-radius: 15px;
    border: 1px solid #9d8189;
    height: 100px;
    width: 300px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 5px;
    margin: 5px auto;
    &__title, &__author {
      width: 100%;
    }
    &__date-time {
      width: 100%;
      display: flex;
      justify-content: space-between;
    }
    &__more a{
      text-decoration: none;
    }
    &__check {
      display: none;
      cursor: pointer;
    }
  }

  .update {
    background-color: #f9dcc4;
  }
  &__btn {
    width: 60px;
    height: 60px;
  }
  &__btn  button{
    width: 60px;
    height: 60px;
    position: absolute;
    text-align: center;
    border-radius: 50px;
    outline: none;
    border: 1px solid #9d8189;

  }
  &__total-notif {
    text-align: center;
    border-radius: 50px;
    width: 20px;
    height: 20px;
    border: 1px solid #f9dcc4;
    position: absolute;
    right: 1px;
    bottom: 1px;
    background-color: pink;
  }
}

.widget__window::-webkit-scrollbar {
  border-radius: 15px;
  width: 10px;
}

.widget__window::-webkit-scrollbar-track {
  background-color: #f9f9fd;
  border-radius: 15px;
}

.widget__window::-webkit-scrollbar-thumb {
  background-color: #f2bf93;
  border-radius: 15px;
}